/* Diseny per MOVIL */
ul{
   list-style: none;
   gap: 10px;
   justify-content: center;
   padding-left: 13px;
}
a{
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #48cae4;
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
a:hover{
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #00b4d8;
    width: 150px;
    display: block;
    text-align: center;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ade8f4;
}
.nomsong{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.iconasong{
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.logosong {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;            
}

.reproductor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.art-box {
    margin-top: 10px;
}



/* Diseny per TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    ul{
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-left: 0px;
     }
     a{
         color: black;
         text-decoration: none;
         padding: 10px 10px;
         background-color: #48cae4;
         width: 150px;
         display: block;
         text-align: center;
         border-radius: 5px;
     }
     a:hover{
         color: black;
         text-decoration: none;
         padding: 10px 10px;
         background-color: #00b4d8;
         width: 150px;
         display: block;
         text-align: center;
     }
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ade8f4;
    }
    .nomsong{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    .iconasong{
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .logosong {
        display: flex;
        justify-content: center;  
        align-items: center;     
        height: 100%;            
    }
    
    .reproductor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    
    }
    
    .art-box {
        margin-top: 10px;
    }
}

/* Diseny per ORDINADOR */
@media (min-width: 1024px) {
    ul{
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-left: 0px;
     }
     a{
         color: black;
         text-decoration: none;
         padding: 10px 10px;
         background-color: #48cae4;
         width: 150px;
         display: block;
         text-align: center;
         border-radius: 5px;
     }
     a:hover{
         color: black;
         text-decoration: none;
         padding: 10px 10px;
         background-color: #00b4d8;
         width: 150px;
         display: block;
         text-align: center;
     }
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ade8f4;
    }
    .nomsong{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    .iconasong{
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .logosong {
        display: flex;
        justify-content: center;  
        align-items: center;     
        height: 100%;            
    }
    
    .reproductor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    
    }
    
    .art-box {
        margin-top: 10px;
    }
}